.Button-Container {
  display: inline-block;
  padding: 7px 50px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-color: red;
  /* background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%); */
  transition: .4s;
  margin: 50px;
}

.Button-Container:hover {
  background-color: turquoise;
}
