.TopContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
}


.simekiriTime {
    width: 90%;
    justify-content: space-around;
    display: flex;
    display: -webkit-flex;
}


.hr {
    margin-top: 100px;
    margin-bottom: 100px;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
}